.gitresume {
  width: 100%;
  margin: 0 auto;
}
.vcard {
  width: 1024px;
  margin-top: 50px;
  font: normal 13px 'Hevetica Neue', 'Helvetica', sans-serif;
  text-align: center;
}
.h1 { font-size: 30px; }
